@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    <strong>馒头先生</strong><br />
    <abbr title="QQ">QQ:</abbr>
    2779916214
</address>

<address>
    <strong>Support:</strong> <a href="mailto:dabaotongxue@foxmail.com">dabaotongxue@foxmail.com</a><br />
</address>
