@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Use this area to provide additional information.</p>
<p>You can fetch the source code from 
    <a href="https://gitee.com/Mrmantou/Albert.Demo" target="_blank" >Gitee</a>
    </p>
